# Seeker Agent Configuration for seeker-test
seeker.agent-identity.name=SeekerTest
seeker.agent-identity.group=seeker-test
seeker.collector.host=127.0.0.1
seeker.collector.grpc-port=9999
seeker.collector.http-port=8081
seeker.profiler.base-packages=com.seeker.test

seeker.profiler.debug.enabled=true