# Seeker Agent Configuration

# Agent ID (Unique per instance)
seeker.agentId=seeker-test-agent

# Application Name (Group name)
seeker.applicationName=seeker-test-app

# Collector Settings
seeker.collector.host=127.0.0.1
seeker.collector.port=9991

# Sampling Rate (1.0 = 100%, 0.1 = 10%)
seeker.sampling.rate=1.0

# Profiler Settings
seeker.profiler.jdbc.enable=true
seeker.profiler.http.enable=true
seeker.profiler.spring.enable=true
seeker.profiler.max.span.event.count=1500
